<div class="container-fluid">
  <div class="row firstview">
    <div class="col-6 firstview-left-box">
      <div class="firstview-text-box">
        <%= image_tag 'Photolink.png'%>
      </div>
      <div class="start-button-box">
        <%= link_to 'はじめる', new_user_session_path, class: "header-button start" %>
      </div>
    </div>
    <div class="col-6 firstview-right-box">
      <div><%= image_tag 'person.jpg', class: "background-box1" %></div>
      <div><%= image_tag 'camera.jpg', class: "background-box2" %></div>
    </div>
  </div>
</div>
