// レスポンシブ対応
// ブレイクポイント
$mb1: 1441px;
$mb2: 2560px;
$mb3: 425px;
$mb4: 1439px;

// @media 拡張ディスプレイ
@mixin display{
  @media screen and (min-width: $mb1) and (max-width: $mb2) {
    @content;
  }
}

@mixin small_display{
  @media screen and (min-width: $mb3) and (max-width: $mb4) {
    @content;
  }
}


// ----------row 全体適用---------------------

.firstview{
  display: flex;
  justify-content: right;
}


// ----------右側のレイアウト-----------------

.firstview-right-box{
  height: 750px;
  margin-top: -10px;
  position: relative;
  z-index: 10;
  background-color: #aacfd7;

    @include small_display{
    height: 0px;
    margin-top: 0px;
    position: static;
    z-index: 0;
    background-color: none;
  }
}


  .background-box1{
      height: 550px;
      position: absolute;
      left: -50px;
      top: 50px;
      z-index: 40;

      @include small_display{
        width: 100%;
        height: 400px;
        margin: 10px 10px 10px 50px;
        position: static;
        z-index: 0;
      }

  }

  .background-box2{
      height: 550px;
      position: absolute;
      left: 250px;
      top: 100px;
      z-index: 30;

      @include small_display{
      width: 100%;
      height: 400px;
      margin: 10px 10px 10px 50px;
      position: static;
      z-index: 0;
    }
  }




// ----------左側のレイアウト-----------------

.firstview-left-box{

  & .firstview-text-box{
    text-align: center;
    padding-top: 100px;

      @include display{
        padding-left: 150px;
      }

      @include small_display{
        padding-left: 0px;
      }
  }

  & .start-button-box{
    text-align: center;
    margin-bottom: 30px;

      @include display{
        padding-left: 150px;
      }

      @include small_display{
        padding-left: 100px;
      }

    }
  }

    .sub-link{
      color: darkslategray;
      border-bottom: dashed;

        &:hover{
        color: #f97a54;
        text-decoration: none;
      }
    }


