$title-color: #289dd2;
$sub-color: #365b6d;
$text-color: #768a92;

$base-gap: 15px;
$menu-radius: 5px;
$nav-arrow-size: 6px;


// 通知アイコン
.n-circle {
  color: #efa04c;
  position: absolute;
  left: 80%;
  top: 20px;
}



// ---------------メニュー------------------


.l-main {
  font-size: 13px;
  font-weight: lighter;
}

.menu {
  width: 90%;
  margin-left: 10%;
  background: #fff;
  border-radius: $menu-radius;
  float: left;
}


.menu__body {
  border-radius: 0 0 $menu-radius $menu-radius;
}


.nav {
  list-style: none;
  display: block;
}

.nav__item {
  position: relative;
}

.nav__item-link {
  padding: $base-gap $base-gap;
  text-decoration: none;
  color: $text-color;
  display: block;
  border-bottom: 1px solid #F0F0F0;

  &:hover {
    background: #f0f0f0;
  }

  &.is-active {
    background: $sub-color;
    color: #fff;
    border-bottom-color: #4B4F55;
    // box-shadow: 0 1px 0 #7A828D inset;

    .nav__item-icon {
      color: #fff;
    }
  }

  .nav__item:last-child & {
    border-bottom: none;
  }
}

.nav__item-icon {
  color: #365b6c3d;
  width: 20px;
  text-align: center;
  font-size: 18px;
  margin-right: $base-gap;
}




// --------------プロフィール画像------------------

.snip1344 {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 280px;
  margin-left: 10%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #264250;
  border-radius: 4px;
}

.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1344 .background {
  width: 100%;
  height: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 60%;
}

.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 35%;
  left: 50%;
  max-width: 150px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.snip1344 h4 {
  margin: 0 0 5px;
}

.snip1344 h4 span {
  display: block;
  font-size: 14px;
  font-weight: lighter;
  color:  rgb(255 104 58);
  opacity: 0.75;
}

.snip1344:hover .background,
.snip1344.hover .background {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}